#albumBody{
    background-color: #ffffc2;
}

table{
    background-color: #f7f9f9; width: 100%;
}

.table-striped>tbody>tr:nth-child(odd) td{
    background-color: #cce3f4;
}

.img-circle{
    width: 200px;
    height: 200px;
}

#albumName{
    margin-bottom:0; font-family: "Trebuchet MS";
}

#bandLink{
    margin-bottom:0; margin-top:0; 
}

#releaseDate{
    margin-bottom:0; margin-top:0;
}

tbody {
    font-style: italic;
}

a{
    text-decoration: none;
}

a:visited{
    color:blueviolet;
}

a:hover {
    text-decoration: underline; background-color: orange;
}

#trackCaption{
    text-align: center;
}