#name{
    color: #FF00FF;
    text-align: center;
    font-size: 48px;
}

body.basic{
    font-family: "Trebuchet MS"; 
    background: linear-gradient(to bottom, rgba(145,232,66,1) 0%,rgba(252,252,252,1) 23%,rgba(252,255,252,0.98) 82%,rgba(252,252,252,0.98) 100%);
    background-repeat: no-repeat;
    min-height: 100%;
    height: 100%;
}

body.home{
    font-family: "Trebuchet MS"; 
    min-height: 100%;
    height: 100%;
}

.footer{
    font-family: "Trebuchet MS"; 
    text-align: center;
}

html{
    height: 100%
}

a:hover{
    font-weight: bold!important; 
    color:black!important;
}

a:visited{
    color: blueviolet!important;
}

a:active{
    text-decoration: none!important;
}

.jumbotron{
    background-color: #FF00FF!important;
}

.navbar-default{
    background-color: #91e842!important;
}

.navbar-default .navbar-nav > .active > a  {
    background-color: #91e842!important;
  }

  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > li > a:active,
  .navbar-default .navbar-nav > li > a:hover{
    background-color: #16EDE7!important;
  }